@import _fonts.sass

// 1. GLOBAL STYLES

h1, h2, h3, h4, h5, h6
  text-transform: uppercase

// Use on GREEN background

h1, h2, h3, h4
  font-family: $helv-cond-bold
  font-weight: 700
h1
  font-size: 46px
  color: #ffffff !important

h2
  font-size: 46px
  color: #ffffff

h3
  font-size: 40px
  color: #ffffff

h4
  font-size: 21px
  color: #ffffff

// Use on WHITE background

h5
  font-family: $helv-cond-bold
  font-weight: 700
  font-size: 34px
  color: #007b38
  a
    font-size: 21px
    text-decoration: none
    color: #007b38

h6
  font-family: $helv-cond
  font-weight: 300
  font-size: 28px
  color: #007b38

p
  font-family: $helv-light
  font-weight: 300
  font-size: 16px
  color: #4a4a4c

.quote p
  font-family: $times
  font-size: 22px
  font-style: italic
  color: #4a4a4c

  

.subhead
  font-family: $times
  font-size: 21px
  font-style: oblique
  font-weight: bold
  color: #ffffff
  @media all and (max-width: 768px)
    font-size: 18px
    margin-top: 20px
  @media all and (max-width: 480px)
    font-size: 15px
    margin-top: 40px


.subhead-white
  font-family: $times
  font-size: 19px
  font-style: oblique
  color: #007b38

.grey-border
  border: 4px solid #ccc

.white-border
  border: 6px solid #fff

.clear-left
  clear: left

.clear-right
  clear: right

.clear-both
  clear: both

.left
  float: left
.right
  float: right


#main-content p a
  color: #4a4a4a
  text-decoration: none
  border-bottom: 1px dotted
  &:hover
    color: #4a4a4a
    text-decoration: none
    border-bottom: none

#header
  border-bottom: none 

#header_top
  border-bottom: none
  padding-bottom: 0px
  margin: 20px 0px 0px

#content-wrapper
  padding: 0% !important

a.less-link
  color: #4A4A4A
  text-decoration: none
  border-bottom: 1px #000 dotted
  text-transform: uppercase
  font-family: $helv-light
  font-weight: 300
  font-size: 12px
  color: #4a4a4c
  &:hover
    border-bottom: none
        
        
// new aside //
.aside-small-grey
  float: right
  display: block
  width: 30%
  font-size: 16px
  background-color: whitesmoke
  height: auto
  padding: 30px
  margin-left: 20px
  margin-bottom: 10px
  border-radius: 3px 3px 3px 3px
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2)
    
.aside-small-grey h6
  font-size: 16px !important


// table //
.box-shadow-border
  max-width: 100%
  background-color: transparent
  border-collapse: collapse
  border-spacing: 0
  /* border-radius: 3px; */
  /* box-shadow: 1px 1px 5px grey; */
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2)
  border-radius: 3px

// scoopit news //

.page-node-514 td
  padding: 20px

.page-node-514 .col-1
  width: 50% !important

.page-node-514 img
  padding: 10px 10px 10px 0px

//search bar //
.page-node-514 .views-exposed-widgets
  float: right

.page-node-514 .views-view-grid 
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2)
    
.page-node-514 .quicktabs-tabs 
  margin-left: 0px !important

.page-node-514 ul.quicktabs-tabs li
  display: inline !important
  padding: 3px 10px 3px 10px
  background: none
  list-style-type: none
  padding: 2px 5px 2px 5px
  white-space: nowrap
  border-radius: 3px

.page-node-514 ul.quicktabs-tabs li a
  color: whitesmoke
  text-decoration: none
  font-weight: 900

.page-node-514 ul.quicktabs-tabs li.active
  background-color: green !important

.page-node-514 .pager-current 
  font-weight: bold
  background-color: green
  /* padding: 10px; */
  padding: 5px 14px
  border-radius: 15px
  color: white !important
  font-weight: 900 !important
    