
// 1. GLOBAL STYLES

// Use on GREEN background
h1
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 46px
  text-transform: uppercase
  color: #ffffff !important

h2
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 46px
  text-transform: uppercase
  color: #ffffff

h3
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 40px
  text-transform: uppercase
  color: #ffffff

h4
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 21px
  text-transform: uppercase
  color: #ffffff

// Use on WHITE background

h5
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 34px
  text-transform: uppercase
  color: #007b38
  a
    font-size: 21px
    text-decoration: none
    color: #007b38

h6
  font-family: 'HelveticaNeueW01-57Cn', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 28px
  text-transform: uppercase
  color: #007b38

p
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 16px
  color: #4a4a4c

.quote p
  font-family: "Times New Roman", Times, serif
  font-size: 22px
  font-style: italic
  color: #4a4a4c

.subhead
  font-family: "Times New Roman", Times, serif
  font-size: 21px
  font-style: italic
  color: #ffffff

.subhead-white
  font-family: "Times New Roman", Times, serif
  font-size: 19px
  font-style: oblique
  color: #007b38

#main-content p a
  color: #4a4a4a
  text-decoration: none
  border-bottom: 1px dotted
  &:hover
    color: #4a4a4a
    text-decoration: none
    border-bottom: none

#header
  border-bottom: none 

#header_top
  border-bottom: none
  padding-bottom: 0px
  margin: 20px 0px 0px

#content-wrapper
  padding: 0% !important

a.less-link
  color: #4A4A4A
  text-decoration: none
  border-bottom: 1px #000 dotted
  text-transform: uppercase
  font-family: 'HelveticaNeueW01-45Ligh', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  font-size: 12px
  color: #4a4a4c
  &:hover
    border-bottom: none