// 2. LOGO

#logo a, .ui-footer .ui-logo a
  background: url('../img/logo.png') no-repeat
  display: block
  width: 268px
  height: 53px

// Mobile logo
#tab-container .tab_logo.tab a
  background: url('../img/logo.png') no-repeat
  display: block
  background-size: 162px 32px
  width: 162px
  height: 32px
