// 2. LOGO

#logo a, .ui-footer .ui-logo a
  background: url('../img/logo.png') no-repeat
  display: block
  width: 268px
  height: 53px

// Mobile logo
#tab-container .tab_logo.tab a
  background: url('../img/logo.png') no-repeat
  display: block
  background-size: 162px 32px
  width: 162px
  height: 32px



.page-node-2380 
  thead th
    background: red
    width: 25%
    background-color: #007B38 !important
    color: white
    font-weight: 900
    border: 1px solid #007B38
    font-size: 14px
    text-transform: initial !important
  table.views-table.sticky-enabled.cols-4.tableheader-processed.sticky-table
    table-layout: fixed