@import _fonts.sass

// 3. NAVIGATION & MENUS

.menu_secondary 
  li a
    color: #007b38
    font-family: $helv-cond
    font-weight: 300
    font-size: 18px
    text-transform: uppercase
    &:focus, &:hover, &.active, &:active
      outline: 0
      color: #007b38
      font-weight: normal
      font-size: 18px
      text-transform: uppercase
    &:hover, &.active, &:active
      padding-bottom: 6px
      border-bottom: 6px solid #007b38

  li.dropdown a.dropdown
    padding-bottom: 6px
    border-bottom: 6px solid transparent
    &:hover, &:active, &.active
      color: #00ad00
      border-bottom: 6px solid #00ad00

  li.dropdown.open a.dropdown
    color: #007b38
    border-bottom: 6px solid #007b38
    &:hover, &:active, &.active
      color: #007b38
      border-bottom: 6px solid #007b38

// Secondary menu
.nav .dropdown-toggle
  .caret, &:hover .caret, &:focus .caret
    display: none

// fixes bootstrap-responsive.css background color issue - Don't touch unless changing hover over effect:
.nav > li > a:focus
  background-color: #fff

.dropdown a
  font-family: $helv-cond-bold !important
  font-weight: 700

// DROPDOWN MENU HIGHLIGHTS - rewrites bootstrap.css - NB IMPORTANT required b/c css inheritance is wrong
.dropdown-menu
  background-color: #525252
  border: none
  padding: 15px 20px 20px 20px
  margin-top: 10px
  margin-left: 5px
  li a
    color: #ffffff
    font-size: 18px
    text-transform: uppercase
    text-decoration: none
    font-family: $helv-cond
    font-weight: 300
    border-bottom: 1px transparent dotted
    padding: 6px 0 0 0
    font-size: 16px
    display: block
    &:hover, &:focus, &:active, &.active
      padding: 6px 0 0 0
      font-size: 16px
      text-decoration: none !important
      color: #ffffff !important
      background-color: #525252 !important
      background-image: none !important
      background-image: none !important
      background-image: none !important
      background-image: none !important
      background-image: none !important
      background-image: none !important
      border-bottom: 1px #ffffff dotted

  a.active
    color: #ffffff !important
    font-size: 16px !important
    text-transform: uppercase
    text-decoration: none
    font-family: $helv-cond
    font-weight: 300

.dropdown-submenu
  &:hover > a, &:focus > a
    text-decoration: none  !important
    color: #ffffff  !important
    background-color: #525252  !important
    background-image: none !important
    background-image: none !important
    background-image: none !important
    background-image: none !important
    background-image: none !important
    background-image: none !important
    border-bottom: 1px #ffffff dotted

.dropdown-menu > .active > a
  color: #ffffff  !important
  text-decoration: none  !important
  background-color: #525252  !important
  background-image: none !important
  background-image: none !important
  background-image: none !important
  background-image: none !important
  background-image: none !important
  background-image: none !important
  &:hover, &:focus
    color: #ffffff  !important
    text-decoration: none  !important
    background-color: #525252  !important
    background-image: none !important
    background-image: none !important
    background-image: none !important
    background-image: none !important
    background-image: none !important
    background-image: none !important

.menu_secondary li .dropdown-menu > li
  background-color: #525252  !important
  a
    background-color: #525252  !important
    &.active, &:hover
      background-color: #525252  !important