// 5. BUTTONS

// Generic button
.button
  text-decoration: none
  text-transform: uppercase
  text-align: center
  text-shadow: none
  cursor: pointer
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  border: 1px solid transparent
  &:hover
    text-decoration: none

// Buttons for images bg
.lbutton-image
  border: 1px #ffffff solid !important
  color: #ffffff !important  
  padding: 10px 20px
  &:hover
    background-color: #007b38  !important
    color: #ffffff !important
    text-decoration: none !important
    border-color: transparent !important

.sbutton-image
  min-width: 75px
  height: 34px
  border: 1px #ffffff solid !important
  color: #ffffff !important
  padding: 0px 20px 0px 20px
  &:hover
    background-color: #007b38  !important
    color: #ffffff !important

// Buttons for white bg

.lbutton-white
  min-width: 90px
  height: 41px
  border: 1px #007b38 solid !important
  color: #007b38 !important
  padding: 0px 20px 0px 20px
  &:hover
    background-color: #007b38  !important
    color: #ffffff !important

.sbutton-white
  min-width: 75px
  height: 34px
  border: 1px #007b38 solid !important
  background-color: #ffffff
  text-shadow: none
  color: #007b38 !important
  padding: 0px 20px 0px 20px
  background-image: none !important
  &:hover
    background-color: #007b38  !important
    color: #ffffff !important
    background-image: none !important

// Buttons for colour
.lbutton-colour
  min-width: 90px
  height: 41px
  border: 1px #ffffff solid !important
  color: #ffffff !important
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  text-align: center
  display: table-cell
  vertical-align: middle
  text-decoration: none
  padding: 0px 20px 0px 20px
  &:hover
    background-color: #ffffff  !important
    color: #007b38 !important
    text-decoration: none !important

.sbutton-colour
  min-width: 75px
  height: 34px
  border: 1px #ffffff solid !important
  color: #ffffff !important
  text-decoration: none
  padding: 0px 20px 0px 20px
  &:hover
    background-color: #ffffff  !important
    color: #007b38 !important
    text-decoration: none !important

// Form buttons
.form-submit
  min-width: 75px
  height: 34px
  border: 1px #007b38 solid !important
  background-color: #007b38
  text-shadow: none
  color: #ffffff !important
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  text-transform: uppercase
  text-align: center
  display: table-cell
  vertical-align: middle
  text-decoration: none
  padding: 0px 20px 0px 20px
  background-image: none !important
  &:hover
    background-color: #ffffff  !important
    color: #007b38 !important
    text-decoration: none !important
    background-image: none !important

.form-btn-success
  background-color: #007b38 !important
  text-shadow: none !important




// Wide Load More button
.page-node-14 .pager li > a
  min-width: 90px
  height: 41px
  border: 1px #007b38 solid !important
  color: #007b38 !important
  font-family: 'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
  text-transform: uppercase
  text-align: center
  display: table-cell
  vertical-align: middle
  text-decoration: none
  padding: 0px 20px 0px 20px
  width: 1000px
  border-radius: 0px
  &:hover
    background-color: #007b38  !important
    color: #ffffff !important
    text-decoration: none !important


