@import _fonts.sass

// 27. Mobile menu

#tab-container .ui-tab-content
  background: #999999

ul.etabs li
  a
    &:hover, &:focus, &:active
      background: #00b611 // Fial Bright Green

#tabs1-menu ul li a
  font-family: $helv-cond
  font-weight: 300
  &:hover, &:focus, &:active
    background: #00b611 // Fial Bright Green

#tabs1-menu ul li a.primary_item
  background: white

#tabs1-menu ul li a.primary_item
  background: #058532 // Fial Logo Green

#tabs1-menu ul li a:hover, #tabs1-menu ul li a:focus,  #tabs1-menu ul li a:active, #tabs1-search ul li a:hover, #tabs1-search ul li a:focus, #tabs1-search ul li a:active, #tabs1-profile ul li a:hover, #tabs1-profile ul li a:focus, #tabs1-profile ul li a:active
  background: #058532 // Fial Logo Green

#tabs1-menu .dropdown-menu 
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

#tabs1-menu .dropdown-menu li a
  border-bottom: 0
  background-color: #8a8a8a
  // outline: 1px solid red
  padding: 10px !important
  display: block
  &.active
    background-color: #525252 !important
  &:hover, &:focus
    background-color: #00b611 !important // Fial Bright Green
    padding: 10px !important


// .menu_secondary li .dropdown-menu > li
//   background-color: #525252  !important
//   a
//     background-color: #525252  !important
//     &.active, &:hover
//       background-color: #525252  !important

#tabs1-menu ul li a.active // Current selected page
  text-decoration: none
  font-family: $helv-cond-bold
  font-weight: 700

// Mobile menu sub pages
.mobile-sub-links
  a
    display: block
    margin: 4px
    padding: 8px 10px 6px 10px
    color: white
    background: #058532 // Fial Logo Green
    text-transform: uppercase
    font-family: $helv-cond-bold
    font-weight: 700
    &:hover, &:focus, &:active
      background: #00b611 // Fial Bright Green


// #tabs1-menu ul li a
  // &:hover, &:focus
    // -webkit-box-shadow: none
    // box-shadow: none
  // &.primary_item
  //   &:hover, &:focus
      // -webkit-box-shadow: none
      // box-shadow: none

// #search-block-form--2
  // margin: 0 10px
  // padding: 10px 0

// #tabs1-search
  // .form-item-search-block-form
  //   // float: left
  // input.search-query
    // -webkit-border-radius: 15px 0 0 15px
    // border-radius: 15px 0 0 15px
    // padding-top: 5px
    // padding-bottom: 5px

// html.js #tabs1-search input.search-query
  // background-image: none

// #tabs1-search input.btn-search
  // float: left
  // height: 22px
  // margin: 1em 0
  // -webkit-border-radius: 0 15px 15px 0
  // border-radius: 0 15px 15px 0

