@import _mixins.sass
@import _fonts.sass

// Calendar style overrides

#cboxWrapper
  &, & *
    @include green-link

#main-content

  // Overwrites calendar css
  
  .calendar-calendar
    &, & *
      text-decoration: none !important
      text-align: center
      @include green-link
    .year-view
      table tbody tr:nth-child(odd) td
        background-color: white !important
        border: none
      .mini-day-on
        background: #2ecc71
        a
          color: white !important
          font-weight: 900
          text-shadow: 1px 1px grey
      .mini-day-off
        font-weight: 900
        
.year-view
  div.month-view div.date-nav
    margin-bottom: 0px
  .calendar-calendar
    .month-view
      padding: 10px

  .calendar-calendar .month-view .full
  tr
    td.today, &.odd td.today, &.even td.today
      background: none
      border-left: 2px solid #00c0dd
      border-right: 2px solid #00c0dd
  td.date-box.today
    border-color: #00c0dd
  tr td
    &.single-day.today
      border-bottom: 2px solid #00c0dd
    &.multi-day
      &.starts-today
        border-left: 2px solid #00c0dd
      &.ends-today
        border-right: 2px solid #00c0dd
            
  .calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview, .calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff,   .calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a, .calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview 
    text-decoration: none !important
    background: #dcf7c0
    font-size: 14px !important
    margin: 2px 0px 0px 1px
    &, & *
      color: #555
      text-decoration: none !important
      
  .view .date-nav-wrapper li.date-prev, .view .date-nav-wrapper li.date-next
    font-size: 12px
