
@import _mixins.sass
@import _fonts.sass

// Generic content styling

#main-content
  h2, h3, h4, h5, h6
    color: #007b38
    font-family: $helv-cond-bold
    font-weight: 700
    line-height: 1

  h4
    font-size: 34px 
  h5
    font-size: 28px
  h6
    font-size: 21px
  
  @media all and (max-width: 768px)
    h2
      font-size: 32px 
    h3
      font-size: 28px 
    h4
      font-size: 24px 
    h5
      font-size: 20px
    h6
      font-size: 18px

  blockquote
    border-left: none
    padding: 0 15px
    font-size: 20px
    font-style: oblique
    color: #666
    font-family: $times

  p, ol, li, input, button, table
    font-family: $helv-light
    font-weight: 300
    font-size: 16px
    color: #444

  table
    margin-top: 2rem
    margin-bottom: 1rem
    width: 100%
    &, & *
      text-align: center
    thead
      th
        background-color: white
        font-family: $helv-cond-bold
        font-weight: 700
        font-size: 120%
        vertical-align: top
    tbody
      tr:nth-child(even)
        td
          background-color: white
      tr:nth-child(odd)
        td
          background-color: #f2f2f2

  .grey-border
    border: 4px solid #ccc

  .white-border
    border: 6px solid #fff

  .clear-left
    clear: left
  .clear-right
    clear: right
  .clear-both
    clear: both

  .left
    float: left
  .right
    float: right

  .contentarticle img
    margin: 0
    @include box-shadow(none)
    @include border-radius(0)

  // Overwrites default styling
  .node-unpublished 
    background-color: white !important
    background-image: url('/sites/default/themes/fial_theme/img/unpublished.png')
    background-repeat: repeat-y
    background-position: center top
    
  span.clear-both
    display: block
    height: 0
    width: 100%

  section
    padding: 20px
    margin-top: 2em
    margin-bottom: 2em
    &.section-grey
      background-color: #e7e7e7
      &, & *
        color: #333

    &.section-green
      background-color: #017b2e
      background-image: url('/sites/default/themes/fial_theme/img/green-bg.svg')
      background-repeat: no-repeat
      background-position: -80px top
      &, & *
        color: white

    .left
      @media all and (max-width: 768px)
        float: none
        display: block

  aside
    float: right
    display: block
    width: 30%
    margin-left: 60px
    margin-top: 20px
    margin-bottom: 20px
    padding: 20px 40px

    &, & *
      color: white

    background-image: url('/sites/default/themes/fial_theme/img/aside-bg.svg')
    background-repeat: no-repeat
    background-size: 400px 400px
    background-position: center -20px
    background-color: #00a424

    @media all and (max-width: 768px)
      float: none
      display: inline-block
      margin-left: 0
      margin-right: 0

    &.aside-left
      float: left
      margin-left: 0
      margin-right: 60px
      ol, ul
        
      @media all and (max-width: 768px)
        float: none
        margin-left: 0
        margin-right: 0

    &.aside-img
      background-color: transparent
      background-image: none
      padding: 0
      margin-top: 0
      @media all and (max-width: 768px)
        width: auto
        display: inline-block
        img
          max-height: 200px
        &.white-border
          background-color: white
        &.grey-border
          background-color: #ccc
    
    &.aside-quote
      &, & *
        font-style: oblique
        font-size: 32px
        font-family: $times
      @media all and (max-width: 768px)
        width: auto
        display: block

    &.aside-hide-small
      @media all and (max-width: 768px)
        display: none

    


  




