// MIXINS - import where needed

@mixin border-radius($border-radius)
  -webkit-border-radius: $border-radius
  border-radius: $border-radius


@mixin box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow

@mixin green-link
  a
    color: #007b38 !important
    text-decoration: none
    border-bottom: 1px dotted transparent
    &:hover, &:focus, &:active
      color: #007b38 !important
      border-bottom: 1px dotted #007b38
      text-decoration: none

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    border-bottom: none
    color: #007b38 !important
    &:hover, &:focus, &:active
      color: #007b38 !important
      border-bottom: none
      text-decoration: underline