/**

FIAL Stylesheet - Please only change fonts, Fial-specific fonts sizes, images and background colors using this file

1. BODY & BACKGROUND
2. HEADER
3. SEARCH
4. FONTS & HEADERS
5. LOGO, ICONS
6. NAVIGATION & MENUS
7. BUTTONS & DROPDOWNS
8. QUICKTABS
9. FORMS
10. FOOTER

~ page-specific  / templates ~

11. LOG-IN / REGISTER PAGES
12. LOGGED-IN HOME / DASHBOARD PAGE
13. TOPICS PAGE
14. TOPIC COMMENTS
15. TOPIC DETAIL - ARTICLE & COMMENTS
16. THREADED COMMENTS
17. USER PROFILE
18. MEMBER ORGANISATIONS
19. MEMBER ORGANISATION PROFILES
20. MEMBERS / THE COMMUNITY
21. NEWS
22. ADMIN LOGIN - HOME / DASHBOARD PAGE
23. KNOWLEDGE FEATURE [UNUSED?]
24. IE Fixes
25. Hubs

~ responsive ~

26. RESPONSIVE - CONTENT-SPECIFIC
27. MOBILE RESPONSIVE MENU


---------------------------------------------

 */


/*****************************
1. BODY COLOR & BACKGROUND

COLOR GUIDE

Light Grey: #f2f2f2
Text grey: #6a6767
Text light grey: #9b9898
Text dark grey: #646161

Fial Dark Green: #007b38
Fial Medium Green: #7fc566
Fial Yellow-Lime: #cadf5f
Fial Yellow: #f8ec31


*****************************/

body {
  background-color: #ffffff;
  background-image: none;
  color: #ffffff;
}

/* Text highlight ------------- */
/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 */


/* Global content styles -------------*/

a {
  color: #4a4a4a; /*grey - styleguide*/
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover, a:active {
  color: #4a4a4a;
  text-decoration: underline;
  border: none;
}

