/**

FIAL Stylesheet - Please only change fonts, Fial-specific fonts sizes, images and background colors using this file

1. BODY & BACKGROUND
2. HEADER
3. SEARCH
4. FONTS & HEADERS
5. LOGO, ICONS
6. NAVIGATION & MENUS
7. BUTTONS & DROPDOWNS
8. QUICKTABS
9. FORMS
10. FOOTER

~ page-specific  / templates ~

11. LOG-IN / REGISTER PAGES
12. LOGGED-IN HOME / DASHBOARD PAGE
13. TOPICS PAGE
14. TOPIC COMMENTS
15. TOPIC DETAIL - ARTICLE & COMMENTS
16. THREADED COMMENTS
17. USER PROFILE
18. MEMBER ORGANISATIONS
19. MEMBER ORGANISATION PROFILES
20. MEMBERS / THE COMMUNITY
21. NEWS
22. ADMIN LOGIN - HOME / DASHBOARD PAGE
23. KNOWLEDGE FEATURE [UNUSED?]
24. IE Fixes
25. Hubs

~ responsive ~

26. RESPONSIVE - CONTENT-SPECIFIC
27. MOBILE RESPONSIVE MENU




*****************************/

body {
  background-color: #ffffff;
  background-image: none;
  color: #ffffff;
}



/* 1. Global content styles -------------*/

a {
  color: #4a4a4a; /*grey - styleguide*/
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover, a:active {
  color: #4a4a4a;
  text-decoration: underline;
  border: none;
}

/* 2. Logo -------------*/


#logo a,               /*generic pages*/
.ui-footer .ui-logo a{ /*login page*/
  background:url('../img/logo.png') no-repeat;
  display:block;
  height:110px;
  width:189px;
}

/* Mobile logo */
#tab-container .tab_logo.tab a{
  background:url('../img/logo.png') no-repeat;
  display:block;
  background-size:52px 30px;
  height:30px;
  width:52px;
}